html, body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1400px;
  margin: auto;

  display: flex;
}
.albums {
  width: 300px;
  border: 1px solid gray;
  border-radius: 15px;
  margin-right: 30px;
  box-shadow: 0 0 20px 0 black;
}

.albums > ul, .photos > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.albums > ul > li {
  margin: 0 0 10px 0;
  padding: 10px;

  border-bottom: 1px solid aliceblue;
  cursor: pointer;
}
.photos {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}
.photos > ul > li {
  border: 1px solid gray;
  padding: 15px;
  margin: 0 0 20px 0;
  text-align: center;
}
.albums > ul > li:hover {
  background-color: #e1f8ff;
  border-radius: 15px;
}

.selected {
  background-color: #e1f8ff;
  border-radius: 15px;
}

.album-name {
  font-size: 20px;
  font-weight: 500;
}

.no_selected_album {
  align-self: center;
  text-align: center;
  font-size: 20px;
  flex: 1;
  font-weight: 500;
}
.no_selected_album > span {
  color: darkblue;
  font-size: 25px;
}
.filter {
  margin-bottom: 20px;
}
.filter > input {
  width: 778px;
  padding: 10px;
}

.loading {
  text-align: center;
  margin-top: 50px;
}